<template>
  <div class="col-sm-6 col-md-4">
    <div class="panel panel-info">

      <!-- Heading -->
      <div class="panel-heading">
        <h3 class="panel-title">
          {{ stock.name }}
          <small>(Price: {{ stock.price }} | Quantity: {{ stock.quantity }})</small>
        </h3>
      </div>

      <!-- Body -->
      <div class="panel-body">
        <div class="pull-left">
          <input
            type="number"
            class="form-control"
            :class="{danger: insufficientQuantity}"
            placeholder="Quantity"
            v-model.number="quantity"
          >
        </div>
        <div class="pull-right">
          <button class="btn btn-success" @click="sellStock" :disabled="disabled">
            {{ insufficientQuantity ? 'Not enough' : 'Sell' }}
          </button>
        </div>
      </div>

    </div>
  </div>
</template>

<style scoped>
  .danger {
    border: 1px solid red;
  }
</style>

<script>
import { mapActions } from 'vuex'

export default {
  props: ['stock'],
  data () {
    return {
      quantity: 0
    }
  },
  computed: {
    insufficientQuantity () {
      return this.quantity > this.stock.quantity
    },
    disabled () {
      return this.insufficientQuantity || this.quantity <= 0 || !Number.isInteger(this.quantity)
    }
  },
  methods: {
    ...mapActions({
      placeSellOrder: 'sellStock'
    }),
    sellStock () {
      const order = {
        stockId: this.stock.id,
        stockPrice: this.stock.price,
        quantity: this.quantity
      }
      this.placeSellOrder(order)
      this.quantity = 0
    }
  }
}
</script>
